.login {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__card {
  width: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  border-radius: 8px;
}

.login__main-title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.login__secondary-title {
  font-size: 1.4rem;
}

.login__additional-message {
  text-align: center;
  margin-bottom: 3rem;
  color: #484848;
}

.text-box {
  width: 120%;
  margin-bottom: 1rem;
}

.text-box__title {
  color: #242424;
  font-size: 1rem;
}

.text-box__input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border-style: solid;
  border-color: #bfbfbf;
}

.primary-button {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
}

.primary-button:hover {
  cursor: pointer;
}
